/* ==========================================
   My English Journey 2026 Spring
   File: css/style.css
========================================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:
    "Trebuchet MS",
    "Comic Sans MS",
    "Segoe UI",
    Arial,
    sans-serif;

    background:#f5f8ff;

    color:#333;

}

.container{

    width:90%;
    max-width:700px;

    margin:50px auto;

    background:white;

    border-radius:25px;

    padding:45px;

    box-shadow:
    0 12px 35px rgba(0,0,0,.08);

}

h1{

    text-align:center;

    color:#4f6df5;

    font-size:42px;

    margin-bottom:10px;

}

h2{

    text-align:center;

    color:#666;

    margin-bottom:25px;

    font-size:24px;

}

.subtitle{

    text-align:center;

    line-height:1.8;

    color:#666;

    margin-bottom:35px;

}

.search-box{

    display:flex;

    gap:12px;

    justify-content:center;

    margin-bottom:40px;

}

.search-box input{

    width:230px;

    padding:14px;

    font-size:18px;

    border:2px solid #ddd;

    border-radius:12px;

}

.search-box input:focus{

    outline:none;

    border-color:#4f6df5;

}

.search-box button{

    padding:14px 24px;

    background:#4f6df5;

    color:white;

    border:none;

    border-radius:12px;

    font-size:18px;

    cursor:pointer;

    transition:.3s;

}

.search-box button:hover{

    background:#3558eb;

}

.result{

    display:none;

    background:#fffdf7;

    border-radius:20px;

    padding:35px;

    border:3px solid #ffe082;

    text-align:center;

}

.result.show{

    display:block;

}

.result h3{

    color:#444;

    font-size:42px;

    margin-bottom:25px;

}

/* 每一个项目 */

.item{

    margin:28px 0;

}

/* 标题 */

.item-title{

    font-size:20px;

    font-weight:bold;

    color:#666;

    margin-bottom:10px;

}

/* 成绩 */

.score{

    font-size:90px;

    font-weight:bold;

    margin:10px 0;

    letter-spacing:2px;

}

/* Sticker */

.sticker{

    font-size:50px;

    margin-top:10px;

    margin-bottom:20px;

}

/* Teacher Message */

.comment{

    background:#fff9d8;

    border:none;

    border-radius:18px;

    padding:22px;

    line-height:2;

    font-size:24px;

    color:#444;

    box-shadow:0 4px 10px rgba(0,0,0,.05);

}

/* Not Found */

.not-found{

    text-align:center;

    color:#e53935;

    font-size:24px;

    font-weight:bold;

}

/* ===== 成绩颜色 ===== */

.score.aplus{

    color:#FFD400;

}

.score.a{

    color:#FF6FB5;

}

.score.bplus{

    color:#55C5FF;

}

.score.b{

    color:#FF5A5A;

}

/* 手机 */

@media(max-width:700px){

.container{

    margin:20px;

    padding:25px;

}

.search-box{

    flex-direction:column;

}

.search-box input{

    width:100%;

}

.search-box button{

    width:100%;

}

h1{

    font-size:34px;

}

.result h3{

    font-size:32px;

}

.score{

    font-size:70px;

}

.comment{

    font-size:20px;

}

.sticker{

    font-size:42px;

}

}
